/* This file is for your main application css. */

@import "~milligram/dist/milligram";

.column > p {
    padding-top: 10ex;
    text-align: center;
}

.card {
    background-color: gold;
    height: 200px;
    width: 200px;
    margin: 10px;
    text-align: center;
    border: solid 1px black;
}

